body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    margin: 0;
    padding: 0;
    width: 300px;
    text-align: center;
  }
  
  .container {
    padding: 40px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
  }
  
  .timer-container {
    margin: 15px 0;
  }
  
  label {
    font-size: 18px;
  }
  
  input {
    /* width: 100px; */
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  button {
    background-color: #ff4081;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff79a6;
  }
  